<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.arjunsn.constraintlayoutdemo">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->
    </activity>
    <activity
        android:name=".ProfileViewActivity"
        android:label="@string/title_activity_profile_view">
    </activity>
    <activity
        android:name=".ProfileViewActivity2"
        android:label="@string/title_activity_profile_view2">
    </activity>
    <activity
        android:name=".ProfileViewScrollActivity"
        android:label="@string/title_activity_profile_view_scroll"
        android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>